{{ 'component-card.css' | asset_url | stylesheet_tag }}
{{ 'section-collection-list.css' | asset_url | stylesheet_tag }}

{%- style -%}
  .section-{{ section.id }}-padding {
    padding-top: {{ section.settings.padding_top | times: 0.5 | round: 0 }}px;
    padding-bottom: {{ section.settings.padding_bottom | times: 0.5 | round: 0 }}px;
  }

  @media screen and (min-width: 750px) {
    .section-{{ section.id }}-padding {
      padding-top: {{ section.settings.padding_top }}px;
      padding-bottom: {{ section.settings.padding_bottom }}px;
    }
  }
{%- endstyle -%}

<div class="color-{{ section.settings.color_scheme }} isolate gradient">
  <div class="collection section-{{ section.id }}-padding{% if section.settings.full_width %} collection--full-width{% endif %}">
    <div class="page-width">
      <h1 class="title title--primary inline-richtext{% if settings.animations_reveal_on_scroll %} scroll-trigger animate--fade-in{% endif %}">
        {{ section.settings.title }}
      </h1>
      <p>{{ section.settings.subtitle }}</p>
      {%- liquid
        assign moduloResult = 28 | modulo: section.settings.columns_desktop
        assign paginate_by = 30
        if moduloResult == 0
          assign paginate_by = 28
        endif
      -%}
      {%- paginate collections by paginate_by -%}
      <div class="slider">
          <ul
            class="collection-list grid grid--{{ section.settings.columns_desktop }}-col-desktop grid--{{ section.settings.columns_mobile }}-col-tablet-down"
            role="list"
          >
            
            {% for collection in section.settings.collections %}
              <li
                class="collection-list__item grid__item{% if settings.animations_reveal_on_scroll %} scroll-trigger animate--slide-in{% endif %}"
                {% if settings.animations_reveal_on_scroll %}
                  data-cascade
                  style="--animation-order: {{ forloop.index }};"
                {% endif %}
              >
                {% render 'card-collection',
                  card_collection: collection,
                  media_aspect_ratio: section.settings.image_ratio,
                  withContent: false,
                  columns: 3
                %}
              </li>
            {% endfor %}
          </ul>
      </div>
      {% render 'pagination', paginate: paginate %}
      {%- endpaginate -%}
</div>
</div>
</div>
{% schema %}
{
  "name": "t:sections.shop-by-bed-type.name",
  "class": "section",
  "settings": [
    {
      "type": "inline_richtext",
      "id": "title",
      "label": "t:sections.shop-by-bed-type.settings.title.label",
      "default": "Shop by bed type Title"
    },
    {
      "type": "collection_list",
      "id": "collections",
      "label": "t:sections.shop-by-bed-type.settings.collections.label",
      "limit": 8
    },
    {
      "type": "inline_richtext",
      "id": "subtitle",
      "label": "t:sections.shop-by-bed-type.settings.subtitle.label",
      "default": "Shop by bed type Subtitle"
    },
    {
      "type": "select",
      "id": "image_ratio",
      "options": [
        {
          "value": "adapt",
          "label": "t:sections.shop-by-bed-type.settings.image_ratio.options__1.label"
        },
        {
          "value": "portrait",
          "label": "t:sections.shop-by-bed-type.settings.image_ratio.options__2.label"
        },
        {
          "value": "square",
          "label": "t:sections.shop-by-bed-type.settings.image_ratio.options__3.label"
        }
      ],
      "default": "adapt",
      "label": "t:sections.shop-by-bed-type.settings.image_ratio.label",
      "info": "t:sections.shop-by-bed-type.settings.image_ratio.info"
    },
    {
      "type": "range",
      "id": "padding_top",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "t:sections.all.padding.padding_top",
      "default": 36
    },
    {
      "type": "range",
      "id": "padding_bottom",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "t:sections.all.padding.padding_bottom",
      "default": 36
    }
  ]
}
{% endschema %}
